{% assign title = include.title %}
{% assign contents = include.contents %}



<details>

  <summary>
    <p id="exHeader" style="float:left; color:gray;font-weight:bold; margin-bottom: 5px">{{ title }}
    <div id="dropdown" onClick="changeDropdown(this.id)" style="float:left; color:gray; margin: 2px 0px 0px 2px">〉
    </div>
    </p>
  </summary>
  <br><br>
  {{ contents }}
</details>

<script>
  function changeDropdown(id) {
    var x = document.getElementById(id);
    var el = document.getElementById('exHeader');
    var style = window.getComputedStyle(el, null).getPropertyValue('font-size');
    var fontSize = parseFloat(style);
    if (x.innerText === "〉") {
      x.innerText = "﹀";
      x.style.fontSize = (fontSize + 4) + 'px';
      x.style.margin = "4px 0px 0px 2px";
    } else {
      x.innerHTML = "〉";
      x.style.fontSize = style;
      x.style.margin = "2px 0px 0px 2px";
    }
  }
</script>