---
layout: default
format: page-fullwidth
---
{% if page.image.title %}
<div class="row t30">
	<div class="small-12 columns">
		<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}">
		{% if page.image.caption_url and page.image.caption %}
		<p class="text-right caption">
			<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
		</p>
		{% endif %}
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
{% endif %}


<div class="row t30">
	<div class="medium-12 columns">
		<article>
			<header>
				{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
				<h1>{{ page.title }}</h1>
			</header>

			{{ content }}

			<!-- get author last name -->
			{%- assign authorCollection = "" | split: "" -%}
			{% for a in site.data.authors %}
			{%- assign authorName = a[1].name -%}
			{%- assign reverseName = authorName | split: " " | reverse | join: " " -%}
			{% assign authorCollection = authorCollection | push: reverseName %}
			{% endfor %}

			{% for auth in authorCollection %}
			{%- assign matched_author = site.data.authors | where:"name",auth -%}
			{{ matched_author }}
			{% endfor %}

			<div class="row t30">
				<div class="small-12 columns">
					{% for auth in authorCollection %}
					{%- assign matched_author = site.data.authors | where:"name",auth -%}
					{%- assign author = matched_author[1] -%}
					<h3 style="margin-bottom: 10px">{{ author.name | upcase }}</h3>
					{% if author.siterole %}
					<h4 style="color:gray; margin: 0 0 0 0">{{ author.siterole | upcase }}</h4>
					{% endif %}
					{% if author.email %}
					<p class="caption">Email: <a href="mailto:{{ author.email }}">{{ author.email }}</a></p>
					{% endif %}
					{% if author.bio %}
					<p>{{ author.bio }}</p>
					{% endif %}

					{% assign links = author.alts %}
					{% if links.CU %}
					{% endif %}
					{% if links.googleScholar %}
					{% endif %}

					<hr>
					{% endfor %}
				</div>
			</div>
		</article>
	</div><!-- /.medium-12.columns -->
</div><!-- /.row -->