---
layout: default
format: page-fullwidth
---
{% if page.image.title %}
<div class="row t30">
	<div class="small-12 columns">
		<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}">
		{% if page.image.caption_url and page.image.caption %}
		<p class="text-right caption">
			<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
		</p>
		{% endif %}
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
{% endif %}


<div class="row t30">
	<div class="medium-12 columns">
		<article>
			<header>
				{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
				<h1>{{ page.title }}</h1>
			</header>

			{{ content }}

			<!-- sort authors by last name -->
			{%- assign authorCollection = "" | split: "" -%}
			{% for a in site.data.authors %}
			{%- assign authorName = a[1].name -%}
			{%- assign reverseName = authorName | split: " " | reverse | join: " " -%}
			{% assign authorCollection = authorCollection | push: reverseName %}
			{% endfor %}
			{% assign sorted_authorCollection = authorCollection | sort_natural %}

			<!-- Retrieve alphabetically sorted authorTags -->
			{%- assign authorCollection = "" | split: "" -%}
			{% for auth in sorted_authorCollection %}
			{%- assign firstLast = auth | split: " " | reverse | join: " " -%}
			{% for a in site.data.authors %}
			{% if a[1].name == firstLast %}
			{%- assign matched_author = a[0] -%}
			{% break %}
			{% endif %}
			{% endfor %}
			{% assign authorCollection = authorCollection | push: matched_author %}
			{% endfor %}

			{% for auth in authorCollection %}
			<div class="row t30">
				<div class="small-8 columns">
					{%- assign author = site.data.authors[auth] -%}
					{%- assign nameID = author.name | split: " " | join: "-" | downcase -%}
					<h3 style="margin-bottom: 10px" id="{{ nameID }}">{{ author.name | upcase }}</h3>
					{% if author.siterole %}
					<h4 style="color:gray; margin: 0 0 0 0">{{ author.siterole | upcase }}</h4>
					{% endif %}
					{% if author.email %}
					<p class="caption">Email: <a href="mailto:{{ author.email }}">{{ author.email }}</a></p>
					{% endif %}
				</div>
				<div class="small-4 columns" style="float:right">
					{% assign links = author.alts %}
					{% if links.CU %}
					</br><a href="{{ links.CU }}">CU Eaves Group</a>
					{% endif %}
					{% if links.googleScholar %}
					</br><a href="{{ links.googleScholar }}">Google Scholar</a>
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					{% if author.bio %}
					<p>{{ author.bio }}</p>
					{% endif %}
				</div>
			</div> </br>

			<hr>
			{% endfor %}
		</article>
	</div><!-- /.medium-12.columns -->
</div><!-- /.row -->