---
layout: default
format: page-fullwidth
---
{% if page.image.title %}
<div class="row t30">
	<div class="small-12 columns">
		<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}">
		{% if page.image.caption_url and page.image.caption %}
		<p class="text-right caption">
			<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
		</p>
		{% endif %}
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
{% endif %}


<div class="row t30">
	<div class="medium-12 columns">
		<article>
			<header>
				{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
				<h1>{{ page.title }}</h1>
			</header>

			<!-- CANT NEST IF STATEMENTS IN LIQUID -->
			{% assign authorList = "" | split: "" %}
			{% for au in page.authors %}
			{% assign authorList = authorList | push: au[0] %}
			{% endfor %}

			{% for a in authorList %}
			<div class="row">
				<div class="small-12 columns">
					<p class="text-left caption">
						{% if a.email and a.siterole %}
						<a href="mailto:{{ a.email }}">{{ a.name }} - {{ a.siterole }}</a>
						{% elsif a.email %}
						<a href="mailto:{{ a.email }}">{{ a.name }}</a>
						{% elsif a.siterole %}
						{{ a.name }} - {{ a.siterole }}
						{% else %}
						{{ a.name }}
						{% endif %}
					</p>
				</div>
			</div>
			{% endfor %}

			{% if page.teaser %}
			<p class="teaser">
				{{ page.teaser }}
			</p>
			{% endif %}

			{{ content }}
		</article>
	</div><!-- /.medium-12.columns -->
</div><!-- /.row -->